.env
.venv
dump.sql
**/__pycache__/**
*.pyc
.idea
.DS_Store
*.zip
*.ttf
fall/
bunny/
.pytest_cache
movies
background_audio
*.log
media
*.txt
staticfiles
wiki.py

# Poetry and Python virtual environments
.venv/
.venv*
.env/
.env*
.virtualenvs/
virtualenv/
poetry.lock
instructions.md
.run
.vscode
.todo
credentials.json
drive_multi_token.pickle
drive_multi_state.pkl