.env
.venv
dump.sql
**/__pycache__/**
*.pyc
.idea
.DS_Store
*.zip
*.ttf
fall/
bunny/
.pytest_cache
movies
background_audio
.env
*.log
media
*.txt
staticfiles
wiki.py

# Poetry and Python virtual environments
.venv/
.venv
.venv*
.env/
.env
.env*
.virtualenvs/
virtualenv/
poetry.lock
instructions.md
