<!DOCTYPE html>
<html lang="ru">
<head>
<meta charset="UTF-8">
<title>Братский совет — Церковь ЕХБ Валенсии</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
{% load static %}
<link rel="stylesheet" href="{% static 'main/css/pages/board.css' %}">
<link rel="stylesheet" href="{% static 'main/css/components.css' %}">
<link rel="stylesheet" href="{% static 'main/css/variable.css' %}">
<link rel="stylesheet" href="{% static 'main/css/base.css' %}">
<link rel="shortcut icon" href="{% static 'main/img/favicon.ico' %}">
</head>

<body>

<header class="header">
        <nav class="nav">
            <div class="logo">
                <i class="fas fa-cross"></i>
                Церковь ЕХБ
            </div>

            <div class="nav-links" id="navLinks">
                <a href="{% url 'home' %}">Главная</a>
                <a href="{% url 'home' %}#about">О нас</a>
                <a href="{% url 'home' %}#sermons" class="active">Проповеди</a>
                <a href="{% url 'home' %}#ministries">Служения</a>
                <a href="{% url 'home' %}#events">События</a>
                <a href="{% url "content" %}">Галерея</a>
                <a href="{% url 'home' %}#contact">Контакты</a>
                <a href="{% url "board" %}">Руководство</a>
            </div>

            <div class="menu-toggle" id="menuToggle">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </nav>
    </header>

<div class="page-header">
    <h1>Братский совет</h1>
    <p>Служители и пасторы церкви</p>
</div>

<div class="team-grid" id="teamGrid"></div>

<!-- POPUP -->
<div class="modal" id="modal">
    <div class="modal-box">
        <span class="close" id="modalClose">&times;</span>

        <div class="modal-header">
            <img id="modalImg">
            <div>
                <h2 id="modalName"></h2>
                <p id="modalRole"></p>
            </div>
        </div>

        <div class="modal-body">
            <p id="modalDesc"></p>
            <div class="contacts">
                <p id="modalPhone"></p>
                <p id="modalEmail"></p>
                <p id="modalTelegram"></p>
            </div>
        </div>
    </div>
</div>

<footer class="footer">
    <p>© {% now "Y" %} Церковь ЕХБ | Все права защищены</p>
    <p>Сайт создан с <i class="fas fa-heart"></i> для Царства Божьего</p>
</footer>

<script src="{% static 'main/js/board.js' %}"></script>
<script src="{% static 'main/js/menu.js' %}"></script>
</body>
</html>