.docs {
    max-width: 1000px;
    margin: auto;
    padding: 2rem 1rem 4rem;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
}

.doc-card {
    background: white;
    border-radius: 15px;
    padding: 2rem;
    box-shadow: 0 8px 30px rgba(0,0,0,.06);
}

@media (max-width: 900px) {
    .docs {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 600px) {
    .docs {
        grid-template-columns: 1fr;
    }
}